/* Header */
.header {
    position: fixed;    /* torna fixo no topo da tela */
    top: 0;
    left: 0;
    width: 100%;  /* ocupa toda a largura */
    height: 60px;
    color: white;
    background-color: #007bff;
    border-bottom: 1px solid #ccc;
    z-index: 1000;   /* garante que fique acima de outros elementos */
}

.header-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo-fixed svg {
    width: 40px;
    height: 40px;
}
