/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* main content */

.main{
  margin-top: 100px;
  padding-top: 120px;
  margin-bottom: 100px;
}

.main-content{
  padding: 16px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
}


/* FORM */

.loginP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

form {
  background-color: rgb(25, 163, 255);
  width: 22%;
  height: 45vh;
  border-radius: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Iwrap{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27vh;
  padding-bottom: 4vh;
}

.Iwrap > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}

form input {
  height: 5vh;
  border: 2px solid gainsboro;
  border-radius: 0.5vh;
}

input::placeholder {
  padding-left: 5px;
}

#email::placeholder {
  color: black;
}

form button {
  background-color: rgb(68, 68, 247);
  height: 5vh;
  border: 1px solid  rgb(68, 68, 247);
  border-radius: 0.5vh;
  width: 70%;
  color: white;
}